* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* background-color: #f1f1fb; */
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 0rem 0.5rem;
  /* display: flex; */
}
.header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #000;
}
.header,
.footer {
  /* background-color: purple; */
  height: 70px;
  width: 100%;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.sidebar {
  position: fixed;
  right: 0rem;
  z-index: 99;
  top: 10vh;
  background-color: rgba(10, 10, 10, 0.289);
  backdrop-filter: blur(10px);
  width: 20%;
  height: 90vh;
  transition: all ease-in-out 5s;
  overflow-y: scroll;
  /* height: 64px; */
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.movies {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.8rem;
  /* height: 64px; */
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100px;
  padding: 0rem 1rem;
}
.pagination span {
  padding: 0.6rem;
  border-bottom: 1px solid gray;
  cursor: pointer;
  margin: 0rem 0.3rem;
}
.pagination span:hover {
  border-bottom: 2px solid yellow;
  color: yellow;
}
.pagination .selected__page {
  border-bottom: 2px solid yellow;
  color: yellow;
}
.pagination .previous,
.pagination .next {
  border-bottom: none;
}
@media (max-width: 565px) {
  .sidebar {
    width: 50%;
  }
}
.pnf-title {
  text-align: center;
  padding: 1rem;
}
